*{
   font-family:'SCDream','Noto Sans KR','Roboto',"Malgun Gothic", sans-serif;
   margin:0;
   padding:0;
   letter-spacing:-0.04em;
    box-sizing:border-box;
}

html {font-size: 100%; scroll-behavior: smooth;}
body {width: 100%; font-size: 1rem; background:#f2f2f2; color: #333; font-weight: 400; word-break: keep-all; overflow-x: hidden;}

body.no-scroll {overflow: hidden; height: 100%;}

img {vertical-align:middle; max-width:100%;}   

li {list-style:none}

table {border-collapse: collapse; width: 100%; table-layout: fixed; vertical-align: middle; text-align: center;}

caption {position:absolute; left:-10000px;}

a {color: #333; text-decoration: none; transition: all 0.3s ease;}

input,button,select {color: #333; vertical-align: middle; font-size: 16px; border: 1px solid #ddd; padding: 8px 10px;}
select {background-color: #fff;}
button {background-color: transparent; border: none; cursor: pointer;}
input:focus, select:focus, option:focus, textarea:focus, button:focus{outline: none;}

blockquote,fieldset,iframe{border:0}

address {font-style: normal;}

label {cursor: pointer;}

article,aside,details,figcaption,figure,footer,header,nav,section {display:block; width: 100%;}